name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build JAR
      run: mvn clean package -DskipTests

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Image
      run: |
        IMAGE_TAG=$(git rev-parse --short HEAD)
        docker build -t pavankumar213/simple-java-app:$IMAGE_TAG .
        docker push pavankumar213/simple-java-app:$IMAGE_TAG

    - name: Update Helm values.yaml
      run: |
        IMAGE_TAG=$(git rev-parse --short HEAD)
        sed -i "s/tag:.*/tag: \"$IMAGE_TAG\"/" simple-java-helm/values.yaml
    - name: Commit Helm change
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add simple-java-helm/values.yaml
        git commit -m "Update image tag" || echo "No changes to commit"
        git pull --rebase origin master
        git push origin master
    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@0.24.0
      with:
        image-ref: pavankumar213/simple-java-app:latest
        severity: HIGH,CRITICAL
        format: table
        exit-code: 1


    - uses: actions/checkout@v4
      with:
      fetch-depth: 0

   - name: Commit Helm change
     run: |
       git config user.name "github-actions"
       git config user.email "actions@github.com"

       git add simple-java-helm/values.yaml
       git commit -m "Update image tag" || echo "No changes to commit"

       git pull --rebase origin master
       git push origin master
